@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"); */

/* sections
    globals
    nav
    home-discover
    home-our-cards
    footer
    about
    motivation'
    goals
*/

/* global */
:root {
  --dark-accent: #024557;
  --brown-accent: #eae9e4;
  --white: white;
}

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Sora", sans-serif;
  overflow-x: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.flex.jcentre {
  justify-content: center;
}

.flex.wrap {
  flex-wrap: wrap;
}

.hide {
  display: none;
}

.img {
  background-color: var(--dark-accent);
  color: white;
  font-weight: bold;
  border: 1px solid black;
  content: "image";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.25rem;
  padding: 0.25rem;
}

main {
  position: relative;
  width: 100%;
  justify-content: space-evenly;
}

main.hfull {
  min-height: calc(100% - 4rem);
}

section {
  width: 100%;
}

button {
  color: var(--white);
  background-color: var(--dark-accent);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

button:hover {
  background: #69a7a7;
  color: var(--white);
  transition: all 0.35s;
}

.fadein {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* nav */

.full-height {
  min-height: calc(100% - 4rem);
  justify-content: flex-start;
}

.max-width {
  width: min(100rem, 100%);
  justify-content: space-between;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 4rem;
  background-color: var(--dark-accent);
  justify-content: center;
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 5px #535353;
  z-index: 1;
}

nav .mobile {
  display: none;
}

nav a.text {
  text-decoration: none;
  color: var(--white);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-bottom: 3px solid transparent;
}

nav img {
  width: 3rem;
  height: 2.5rem;
  margin: 0rem 1rem;
}

nav .button {
  background-color: var(--white);
  border-radius: 4px;
  color: var(--dark-accent);
  border-style: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  text-decoration: none;
}

nav a.text:hover,
#nav-menu .showing {
  /* color: #69a7a7; */
  /* transition: all 0.3s ease; */
  border-bottom: 3px solid var(--white);
}

.button:hover {
  background: #69a7a7;
  color: var(--white);
  transition: all 0.35s;
  border-bottom: none;
}

#nav-toggle {
  display: none;
  width: 3rem;
  justify-content: center;
}

#nav-toggle div {
  width: 25px;
  height: 4px;
  margin: 4px 0px;
  transition: all 0.3s ease-in-out;
  background: #fff;
}

@media screen and (max-width: 60rem) {
  nav .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
    font-size: 1rem;
  }

  nav a {
    border-bottom: none;
  }

  #nav-menu .showing {
    border-bottom: none;
  }

  nav .mobile {
    display: unset;
  }

  #nav-toggle {
    display: unset;
  }

  #nav-menu {
    display: none;
  }

  #nav-menu.close {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    width: 100%;
    background-color: var(--dark-accent);
    animation: close-nav 0.2s;
    animation-fill-mode: forwards;
  }

  #nav-menu.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    width: 100%;
    background-color: var(--dark-accent);
    animation: open-nav 0.2s;
  }

  #nav-toggle.open div:nth-child(2) {
    opacity: 0;
  }

  #nav-toggle.open div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transform-origin: center;
  }

  #nav-toggle.open div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transform-origin: center;
  }

  @keyframes open-nav {
    0% {
      opacity: 0;
      transform-origin: top left;
      transform: scaleY(0);
    }
    100% {
      opacity: 1;
      transform-origin: top left;
      transform: scaleY(1);
    }
  }

  @keyframes close-nav {
    0% {
      display: flex;
      opacity: 1;
      transform-origin: top left;
      transform: scaleY(1);
    }
    100% {
      display: none;
      opacity: 0;
      transform-origin: top left;
      transform: scaleY(0);
    }
  }
}

/* home discover */

#home-discover {
  min-height: calc(100vh - 4rem);
  justify-content: space-between;
  align-content: center;
}

#home-discover h1 {
  color: var(--dark-accent);
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  margin: 1rem;
  margin-top: 2rem;
}

#home-discover h2 {
  color: var(--dark-accent);
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  margin: 0rem;
}

#home-discover p {
  color: var(--dark-accent);
  font-size: 1.2rem;
  font-weight: normal;
  text-align: justify;
  margin: 1rem 0rem;
}

#home-discover a {
  color: var(--white);
  text-decoration: none;
  background-color: var(--dark-accent);
  border-radius: 4px;
  border-style: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  align-self: center;
}

#home-discover a:hover {
  background: #69a7a7;
  transition: all 0.35s;
}

#home-discover img {
  width: 40rem;
  margin-left: 3rem;
}

#home-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 3rem;
  margin: 0;
  padding: 0;
}

/* home-our-cards */

#home-our-cards {
  width: 100%;
  height: fit-content;
}
#home-our-cards .card-group {
  justify-content: space-evenly;
  padding: 1rem 0rem;
  max-width: 80rem;
}

/* footer */

footer {
  background-color: var(--dark-accent);
  color: var(--white);
  justify-content: space-evenly;
}

.footer-contents {
  justify-content: space-evenly;
  padding: 1rem 0rem;
  max-width: 80rem;
}

footer h2 {
  margin: 0rem;
  padding: 0.5rem 0rem;
  font-size: 1.5rem;
}

footer a {
  text-decoration: none;
  color: var(--white);
  padding: 0.2rem 0rem;
}

footer .box {
  width: 15rem;
  height: 10rem;
  margin: 1rem;
  text-align: center;
  justify-content: center;
  font-weight: light;
}

footer img {
  width: 10rem;
  height: 10rem;
}

/* about */

.nav-buffer {
  width: 100%;
  height: 4rem;
}

#about-section {
  justify-content: center;
  min-height: 80vh;
  background-color: var(--brown-accent);
}

#about-selection {
  padding: 2rem;
  justify-content: center;
  z-index: 0;
}

#about-selection button {
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

#about-selection .grow {
  animation: grow 0.5s;
  animation-fill-mode: forwards;
  background: #69a7a7;
  color: var(--white);
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.about-slides {
  min-height: 25rem;
}

@media screen and (max-width: 60rem) {
  #about-selection button {
    margin: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: bold;
  }
}

/* motivation */

#motivation-cards {
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem 0rem;
  font-size: 0.8rem;
  text-align: justify;
}

#motivation-cards > div {
  border: 1px var(--white) solid;
  height: 20rem;
  width: 20rem;
  margin: 1rem;
  justify-content: space-evenly;
}

#motivation-cards > div:nth-child(2) {
  border: 1px var(--white) solid;
  height: 25rem;
  width: 25rem;
  margin: 1rem;
  padding: 1rem;
  justify-content: space-evenly;
}

#motivation-cards img {
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}

#motivation-cards p {
  margin: 0rem;
}

#motivation-cards ol {
  padding-left: 0.5rem;
}

/* goals / value cards */

#goal-cards {
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem 0rem;
}

#goal-cards > div {
  border: 1px var(--white) solid;
  height: 25rem;
  width: 20rem;
  margin: 1rem;
  justify-content: space-evenly;
}

#goal-cards h2 {
  margin: 0.5rem;
  padding: 0rem;
}

#goal-cards img {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}

#goal-cards p {
  margin: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

/* education */

section.education-introduction {
  justify-content: center;
  /* background-color: var(--white); */
}

section.education-introduction > div {
  max-width: 60rem;
  min-width: 20rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
}

section.education-options {
  justify-content: center;
  /* background-color: var(--white); */
  padding: 1rem 0rem;
}

.heat-option {
  width: 9rem;
  border: 2px solid var(--dark-accent);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.heat-option.grow {
  transform: scale(1.1);
}

.heat-option img {
  width: 8rem;
  height: 8rem;
}

.heat-option > h2 {
  font-size: 1rem;
  padding: 0.5rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#education-slides {
  width: 100%;
  min-height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: justify;
}

#scroll-location {
  width: 100%;
  height: 1px;
}

#education-slides h1 {
  text-align: center;
}
#education-slides > div {
  box-sizing: border-box;
  border: 2px solid #024557;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  min-height: 20rem;
  background-color: rgba(255, 255, 255, 0.5);
}

#education-slides > * {
  padding: 0.5rem;
}

@media screen and (max-width: 60rem) {
  #education-slides {
    font-size: 0.8rem;
  }
}

/* .education-options .grow {
  animation: grow 0.5s;
  animation-fill-mode: forwards;
} */

.education-options .img {
  width: 6.5rem;
  height: 6.5rem;
}

/* discover */

#discover {
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(#e1edff 1.8px, transparent 1.8px),
    radial-gradient(#e1edff 1.8px, #ffffff 1.8px);
  background-size: 72px 72px;
  background-position: 0 0, 36px 36px;
}

#discover > div {
  width: 25rem;
}

#discover .side-panel {
  margin: 1rem;
  justify-content: center;
  align-items: flex-start;
}

#discover .side-panel img {
  width: 8rem;
  margin: 1rem;
}

#discover .side-panel h2 {
  font-size: 1.5rem;
}

#discover .side-panel > div > div {
  margin: 1rem;
}

@media screen and (max-width: 60rem) {
  #discover .side-panel {
    margin: 0.5rem;
  }

  #discover .side-panel img {
    width: 6rem;
  }

  #discover .side-panel h2 {
    font-size: 1rem;
  }

  #discover .side-panel > div > div {
    margin: 0.8rem;
  }
}

#discover .parameter-input > div {
  background-color: var(--brown-accent);
  border-radius: 4px;
  margin: 1rem;
  padding: 1rem;
}

#discover .parameter-input h2 {
  margin: 1rem;
}

#discover .parameter-input input,
#discover .parameter-input select {
  width: 10rem;
}

#discover .parameter-input > div > div {
  margin: 0.5rem;
}

#discover .parameter-input button {
  margin: 1rem 0.5rem;
  font-size: 1.2rem;
  width: 5rem;
  font-weight: bold;
}

/* education V2 */

.education-main {
  min-height: calc(100% - 4rem);
  background-color: transparent;
}

.education-main > div {
  justify-content: space-evenly;
}

.card {
  justify-content: space-evenly;
  width: 15rem;
  height: 22rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--dark-accent);
  background-color: rgba(255, 255, 255, 0.9);
}

.card.a96 {
  background-color: rgba(255, 255, 255, 0.96);
}

.card .img {
  width: 8rem;
  height: 8rem;
}

.card img {
  width: 12rem;
  height: 12rem;
  border: 2px solid lightgray;
}

.card img.med {
  width: 10rem;
  height: 10rem;
}

.card h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin: 0.25rem 0rem;
  padding: 0rem;
  color: var(--dark-accent);
}

.card p {
  font-size: 0.8rem;
  margin: 0.25rem 0rem;
  padding: 0rem;
  text-align: justify;
  color: var(--dark-accent);
}

.card > a {
  background-color: var(--dark-accent);
  border-radius: 5rem;
  color: var(--white);
  border-style: none;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.card > a:hover {
  background: #69a7a7;
  color: var(--white);
  transition: all 0.35s;
  border-bottom: none;
}

/* Background */

.background {
  box-sizing: border-box;
  width: 100%;
  margin: 0rem;
  padding: 0rem 1rem;
}

.foreground {
  max-width: 80rem;
  height: 100%;
  /* border: 1px black solid; */
}

.background.radial {
  background-color: #ffffff;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #ffffff 36px
    ),
    repeating-linear-gradient(#e1edff55, #e1edff);
}

.background.dots {
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(#e1edff 1.8px, transparent 1.8px),
    radial-gradient(#e1edff 1.8px, #ffffff 1.8px);
  background-size: 72px 72px;
  background-position: 0 0, 36px 36px;
}

/* #houses {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
} */

#houses {
  width: 100%;
}

#edu-bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  opacity: 1;
  z-index: -1;
  overflow: hidden;
}

#card-bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scaleY(-1);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  z-index: -1;
  overflow: hidden;
  object-position: 50% 100%;
}

#edu-bg-img.left {
  object-position: 0% 50%;
}

.education-main {
  position: relative;
  overflow: hidden;
}

/* .education-main::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("./images/education3.svg");
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: max-content;
  opacity: 1;
  z-index: -1;
} */

.nav-group {
  margin: 1rem 0rem;
  width: min(50rem, 80%);
  justify-content: space-evenly;
  min-height: 10rem;
}

.nav-group a {
  text-decoration: none;
  color: black;
}

.mini-card {
  width: 6rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0rem 1rem;
  transition: transform 0.2s ease-in-out;
}

.mini-card:hover {
  transform: scale(1.1);
}

.mini-card img {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul.fmt {
  list-style: none;
  padding: 0;
}

ul.fmt > li {
  margin: 0.5rem 0rem;
}
ul.fmt > li:before {
  content: "·";
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: #00aeff;
  margin-right: 4px;
  padding: 0rem 0.3rem;
  border-radius: 2px;
}

ol.fmt {
  list-style: none;
  padding: 0;
}

ol.fmt > li {
  counter-increment: ol-counter;
  margin: 0.5rem 0rem;
}
ol.fmt > li:before {
  content: counter(ol-counter);
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: #00aeff;
  margin-right: 4px;
  padding: 0rem 0.3rem;
  border-radius: 2px;
}

ul.plus > li:before {
  content: "+";
  background-color: #00dd22;
}

ul.minus > li:before {
  content: "-";
  background-color: #ff2300;
}

.flexcentre {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#version {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

.relpos {
  position: relative;
}
